@model Expshare.ViewModels.LoginViewModel

<h4>Log-in</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" id="emailLogin" oninput="checkLogin()"/>
                <span asp-validation-for="Email" class="text-danger" id="emailLoginSpan"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lozinka" class="control-label"></label>
                <input asp-for="Lozinka" class="form-control" id="lozinkaLogin" oninput="checkLogin()" type="password"/>
                <span asp-validation-for="Lozinka" class="text-danger" id="lozinkaLoginSpan"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ZapamtiMe" id="zapamtiMeLogin"/> @Html.DisplayNameFor(model => model.ZapamtiMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input value="Log in" class="btn btn-default" id="loginButton" onclick="login()" disabled/>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@


