@model Expshare.ViewModels.RegisterViewModel

<h4>RegisterViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="emailRegister" oninput="checkRegister()"/>
                <span asp-validation-for="Email" class="text-danger" id="emailRegisterSpan"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lozinka" class="control-label"></label>
                <input asp-for="Lozinka" class="form-control" id="lozinkaRegister" oninput="checkRegister()" />
                <span asp-validation-for="Lozinka" class="text-danger" id="lozinkaRegisterSpan"></span>
            </div>
            <div class="form-group">
                <label asp-for="PotvrdiLozinku" class="control-label"></label>
                <input asp-for="PotvrdiLozinku" class="form-control" id="potvrdiLozinkuRegister" oninput="checkRegister()" />
                <span asp-validation-for="PotvrdiLozinku" class="text-danger" id="potvrdiLozinkuRegisterSpan"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ZapamtiMe" id="zapamtiMeRegister"/> @Html.DisplayNameFor(model => model.ZapamtiMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input value="Create" class="btn btn-default" id="registerButton" disabled onclick="register()"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
