@model IEnumerable<Expshare.Models.GrupaKorisnik>

@{
    ViewData["Title"] = "Grupa " + ViewData["ime"];
}

<h2>@ViewData["ime"]</h2>

<div>
    <hr />
    <table>
        <th>
            Ime člana
        </th>
        <th>
            Stanje člana (ovo implementirati ajaxom)
        </th>
        <th></th>
        @foreach (var clan in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(c => clan.IdKorisnikNavigation.EmailKorisnik)
                </td>
                <td>
                    stanje
                </td>
            </tr>

        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
